/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
img {
    width: 100%;
    padding: 0 5%;
    
}

/*CONTAINERS*/
.slider-container {
    max-width: 70%;
    margin: auto;
    position: relative;
}

.carousel {
    display: flex;
    align-items: center;
    /* height: 100vh; */
    
}

/*ARROW*/
.arrow {
    font-size: 30px;
    cursor: pointer;
}

/*CIRCLE*/
.circles {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 999px;
    padding: 20px;
}

.circle {
    color: white;
    margin: 0 10px;
}

.circle.active {
    color: blue;
}